{% extends 'base.html'%}

{% block header %} Reset password Confirm {% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        <h2>Reset Password</h2>
        <p>Please enter your new password below:</p>
        <div>
            <label for="id_new_password1">New password:</label>
            <input type="password" name="new_password1" id="id_new_password1">
        </div>
        <div>
            <label for="id_new_password2">Confirm new password:</label>
            <input type="password" name="new_password2" id="id_new_password2">
        </div>
        <button type="submit">Reset Password</button>
    </form>
{% endblock %}
